<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Location</th>
    <th>Gender</th>
    <th>Birthday</th>
    <th>Bids</th>
    <th>Verified</th>
    <th>Status</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.location %></td>
    <td><%= user.gender %></td>
    <td><%= user.birthday %></td>
    <td><%= user.bids_left %></td>
    <td><%= user.verified %></td>
    <td><%= user.status %></td>
    <td><%= user.user_id %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Sign Up', new_user_path %>
<%= link_to 'Products', products_path %>
