<h1>Listing products</h1>
<p id="notice"><%= notice %></p>


<table width="100%">


  <tr>
<% @products.each do |product| %>
	<% @product = product %>
    <td align="center">
    	<%= link_to product.name,product %><br />
    	
    	<img src="<%= product.image_name %>" height="100px"/><br />
    	Original Price: $<%= product.original_price %><br />
    	Current Price: $<%= product.current_price %><br />
    	Ending in <div class="ending-<%= product.id %>"><script>window.Products.countDown('ending-<%= product.id %>','<%=product.end_time%>');</script></div><br />
    	<%= render "bids/form" %><% product.sold %>
    	<%= link_to 'Show', product %> | 
    	<%= link_to 'Edit', edit_product_path(product) %> | 
    	<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
    	
    </td>
<% end %>
  </tr>
</table>
<br />

<%= link_to 'New Product', new_product_path %>
<%=
   link_to_if(current_user.nil?, "Login", { :controller => "user_sessions", :action => "new" }) do
     link_to("Log Out", { :controller => "user_sessions", :action => "destroy", :id => @current_user })
   end
%>