<h1>Listing products</h1>

<table width="100%">


  <tr>
<% @products.each do |product| %>
    <td align="center">
    	<%= link_to product.name,product %><br />
    	
    	<img src="<%= product.image_name %>" height="100px"/><br />
    	Original Price: $<%= product.original_price %><br />
    	Current Price: $<%= product.current_price %><br />
    	Ending in <%= time_ago_in_words(product.end_time,true) %> <br />
    	<%= link_to 'Bid', product %><% product.sold %><br />
    	<%= link_to 'Show', product %> | 
    	<%= link_to 'Edit', edit_product_path(product) %> | 
    	<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
    	
    </td>
<% end %>
  </tr>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
